html {
  scroll-behavior: smooth;
}
.card-wrapper{
	font-family: 'Poppins', sans-serif;
	width: 100% !important;
	padding-left: 0px !important;
	.cards{
		padding: 20px 0;
		overflow-x: auto; 
		display: flex;
		width: 100%;
	}

	.card{
		border-radius: 20px;
		background-color: #211d29;
		padding: 20px;
		text-align: left;
    width: 300px;
    margin: 20px;
		img{
			width: 100%; 
		}
		h2{
			margin: 20px auto; 
			font-size: 30px;
			font-weight: bold;
			line-height: 36px;
			color: #fff;
		}
		p{
			line-height: 25px;
		}
	}
}

.jss3{
	width: 25%;
}

.calculator{
	background-color: #211d29;
	border-radius: 20px;
	padding: 20px;
	color: #fff;
	font-family: 'Poppins', sans-serif;
}

.MuiGrid-root, .MuiFormGroup-root {
	display: flex;
}

.MuiOutlinedInput-input{
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
  height: 60px;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #8f4066;
  border-radius: 50%;
  width: 120px;
  display: none;
  height: 120px;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.calculate, .get-started{
	margin: 30px auto;
	background-color: transparent;
  width: 100%;
  height: 50px;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  height: 3.625rem;
  line-height: 3.625rem;
  padding: 0 1.8125rem;
  font-size: 1.125em;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  border-radius: 1rem;
  flex-direction: row-reverse;
  background-color: #8F4066;
  color: #FFFFFF;
  position: relative;
}

.meal-title{
	padding: 30px;
  font-size: 30px;
  color: white;
  border-bottom: 1px solid rgba(240, 240, 240, 0.1);
	font-family: 'Poppins', sans-serif;
}